# Assignment 5, Question 4: Data Exploration

**Points: 15**

In this notebook, you'll explore the clinical trial dataset using pandas selection and filtering techniques.

You'll use utility functions from `q3_data_utils` where helpful, but also demonstrate direct pandas operations.

## Setup

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Import utilities from Q3
from q3_data_utils import load_data, detect_missing, filter_data

# Load the data
df = load_data('data/clinical_trial_raw.csv')
print(f"Loaded {len(df)} patients with {len(df.columns)} variables")

# Prewritten visualization functions for exploration
def plot_value_counts(series, title, figsize=(10, 6)):
    """
    Create a bar chart of value counts.
    
    Args:
        series: pandas Series with value counts
        title: Chart title
        figsize: Figure size tuple
    """
    plt.figure(figsize=figsize)
    series.plot(kind='bar')
    plt.title(title)
    plt.xticks(rotation=45)
    plt.tight_layout()
    plt.show()

def plot_crosstab(crosstab_data, title, figsize=(10, 6)):
    """
    Create a heatmap of crosstab data.
    
    Args:
        crosstab_data: pandas DataFrame from pd.crosstab()
        title: Chart title
        figsize: Figure size tuple
    """
    plt.figure(figsize=figsize)
    plt.imshow(crosstab_data.values, cmap='Blues', aspect='auto')
    plt.colorbar()
    plt.title(title)
    plt.xticks(range(len(crosstab_data.columns)), crosstab_data.columns, rotation=45)
    plt.yticks(range(len(crosstab_data.index)), crosstab_data.index)
    plt.tight_layout()
    plt.show()

Loaded 10000 patients with 18 variables

## Part 1: Basic Exploration (3 points)

Display:
1. Dataset shape
2. Column names and types
3. First 10 rows
4. Summary statistics (.describe())

In [2]:
# TODO: Display dataset info
import q3_data_utils as utils
import pandas as pd

df = utils.load_data("data/clinical_trial_raw.csv")

print("Shape:", df.shape)

print("\nColumn types:")
print(df.dtypes)

display(df.head(10))

display(df.describe(include='all'))

Shape: (10000, 18)

Column types:
patient_id             object
age                     int64
sex                    object
bmi                   float64
enrollment_date        object
systolic_bp           float64
diastolic_bp          float64
cholesterol_total     float64
cholesterol_hdl       float64
cholesterol_ldl       float64
glucose_fasting       float64
site                   object
intervention_group     object
follow_up_months        int64
adverse_events          int64
outcome_cvd            object
adherence_pct         float64
dropout                object
dtype: object

,patient_id,age,sex,bmi,enrollment_date,systolic_bp,diastolic_bp,cholesterol_total,cholesterol_hdl,cholesterol_ldl,glucose_fasting,site,intervention_group,follow_up_months,adverse_events,outcome_cvd,adherence_pct,dropout
0,P00001,80,F,29.3,2022-05-01,123.0,80.0,120.0,55.0,41.0,118.0,site b,Control,20,0,No,24.0,No
1,P00002,80,Female,NaN,2022-01-06,139.0,81.0,206.0,58.0,107.0,79.0,Site A,CONTROL,24,0,No,77.0,No
2,P00003,82,Female,-1.0,2023-11-04,123.0,86.0,172.0,56.0,82.0,77.0,SITE C,treatment b,2,0,Yes,70.0,No
3,P00004,95,Female,25.4,2022-08-15,116.0,77.0,200.0,56.0,104.0,115.0,Site D,treatment b,17,0,No,62.0,No
4,P00005,95,M,NaN,2023-04-17,97.0,71.0,185.0,78.0,75.0,113.0,site e,Treatmen A,9,0,yes,NaN,Yes
5,P00006,78,F,26.8,2023-08-29,116.0,66.0,164.0,54.0,99.0,99.0,Site A,TreatmentA,4,0,yes,NaN,Yes
6,P00007,84,F,25.4,2022-05-12,133.0,100.0,215.0,62.0,113.0,70.0,site a,treatment a,20,1,No,76.0,No
7,P00008,70,Male,24.7,2022-06-04,111.0,72.0,174.0,60.0,94.0,109.0,SITE B,TREATMENT A,19,0,No,53.0,No
8,P00009,92,Female,26.9,2022-04-06,NaN,NaN,189.0,62.0,89.0,103.0,site a,Control,21,0,yes,53.0,No
9,P00010,75,Male,21.1,2023-12-14,128.0,76.0,218.0,77.0,97.0,96.0,SITE A,Treatment B,1,0,No,50.0,No

,patient_id,age,sex,bmi,enrollment_date,systolic_bp,diastolic_bp,cholesterol_total,cholesterol_hdl,cholesterol_ldl,glucose_fasting,site,intervention_group,follow_up_months,adverse_events,outcome_cvd,adherence_pct,dropout
count,10000,10000.000000,10000,9562.000000,10000,9586.000000,9586.000000,9446.000000,9446.000000,9446.000000,9631.000000,10000,10000,10000.00000,10000.000000,10000,8533.000000,10000
unique,10000,NaN,8,NaN,1666,NaN,NaN,NaN,NaN,NaN,NaN,34,26,NaN,NaN,4,NaN,2
top,P00001,NaN,Female,NaN,2023-06-02,NaN,NaN,NaN,NaN,NaN,NaN,site b,Contrl,NaN,NaN,No,NaN,No
freq,1,NaN,2684,NaN,23,NaN,NaN,NaN,NaN,NaN,NaN,742,802,NaN,NaN,4701,NaN,8533
mean,NaN,59.182700,NaN,25.730558,NaN,117.531087,73.550908,178.039488,61.369786,85.698603,96.424255,NaN,NaN,12.25460,0.145500,NaN,60.615610,NaN
std,NaN,151.769963,NaN,5.339547,NaN,13.973973,10.167464,33.129034,11.062101,28.686463,17.112961,NaN,NaN,7.07675,0.393631,NaN,18.974399,NaN
min,NaN,-999.000000,NaN,-1.000000,NaN,75.000000,60.000000,91.000000,25.000000,40.000000,51.000000,NaN,NaN,0.00000,0.000000,NaN,20.000000,NaN
25%,NaN,70.000000,NaN,23.500000,NaN,108.000000,65.000000,155.000000,54.000000,65.000000,84.000000,NaN,NaN,6.00000,0.000000,NaN,47.000000,NaN
50%,NaN,80.000000,NaN,26.000000,NaN,117.000000,73.000000,177.000000,61.000000,84.000000,96.000000,NaN,NaN,12.00000,0.000000,NaN,62.000000,NaN
75%,NaN,92.000000,NaN,28.775000,NaN,127.000000,81.000000,200.000000,69.000000,105.000000,108.000000,NaN,NaN,19.00000,0.000000,NaN,75.000000,NaN
max,NaN,100.000000,NaN,42.800000,NaN,173.000000,118.000000,315.000000,98.000000,226.000000,163.000000,NaN,NaN,24.00000,4.000000,NaN,100.000000,NaN

## Part 2: Column Selection (3 points)

Demonstrate different selection methods:

1. Select only numeric columns using `.select_dtypes()`
2. Select specific columns by name
3. Select a subset of rows and columns using `.loc[]`

In [3]:
# TODO: Select numeric columns
numeric_cols = df.select_dtypes(include='number')
display(numeric_cols.head())

,age,bmi,systolic_bp,diastolic_bp,cholesterol_total,cholesterol_hdl,cholesterol_ldl,glucose_fasting,follow_up_months,adverse_events,adherence_pct
0,80,29.3,123.0,80.0,120.0,55.0,41.0,118.0,20,0,24.0
1,80,NaN,139.0,81.0,206.0,58.0,107.0,79.0,24,0,77.0
2,82,-1.0,123.0,86.0,172.0,56.0,82.0,77.0,2,0,70.0
3,95,25.4,116.0,77.0,200.0,56.0,104.0,115.0,17,0,62.0
4,95,NaN,97.0,71.0,185.0,78.0,75.0,113.0,9,0,NaN

In [4]:
# TODO: Select specific columns
subset_cols = df[['patient_id', 'age', 'sex', 'site']]
display(subset_cols.head())

  patient_id  age         sex    site
0     P00001   80           F  site b
1     P00002   80    Female    Site A
2     P00003   82      Female  SITE C
3     P00004   95      Female  Site D
4     P00005   95           M  site e

In [5]:
# TODO: Use .loc[] to select subset
subset_loc = df.loc[0:4, ['patient_id', 'age', 'systolic_bp', 'diastolic_bp']]
display(subset_loc)

  patient_id  age  systolic_bp  diastolic_bp
0     P00001   80        123.0          80.0
1     P00002   80        139.0          81.0
2     P00003   82        123.0          86.0
3     P00004   95        116.0          77.0
4     P00005   95         97.0          71.0

## Part 3: Filtering (4 points)

Filter the data to answer these questions:

1. How many patients are over 65 years old?
2. How many patients have systolic BP > 140?
3. Find patients who are both over 65 AND have systolic BP > 140
4. Find patients from Site A or Site B using `.isin()`

In [6]:
# TODO: Filter and count patients over 65
patients_over_65 = df[df['age'] > 65]
print(f"Patients over 65: {len(patients_over_65)}")

# 1. Use the filter_data utility from Q3
# 2. Create a filter for age > 65
# 3. Apply the filter and count the results
# print(f"Patients over 65: {len(patients_over_65)}")

Patients over 65: 8326

In [7]:
# TODO: Filter for high BP
high_bp = df[df['systolic_bp'] > 140]
print(f"Patients with high BP: {len(high_bp)}")
# 1. Use the filter_data utility from Q3
# 2. Create a filter for systolic_bp > 140
# 3. Apply the filter and count the results
# print(f"Patients with high BP: {len(high_bp)}")

Patients with high BP: 538

In [8]:
from q3_data_utils import filter_data
# TODO: Multiple conditions with &
# 1. Use filter_data for multiple conditions:
# 2. Create filters for both conditions:
#     {'column': 'age', 'condition': 'greater_than', 'value': 65},
#     {'column': 'systolic_bp', 'condition': 'greater_than', 'value': 140}
# ]
# 3. Apply the filter and count the results
# print(f"Patients over 65 AND high BP: {len(both_conditions)}")
#
# 5. Alternative: Use in_range for age range:
# 5. Create filter for age range 65-100
# 6. Apply the filter and count the results

filters = [
     {'column': 'age', 'operator': 'greater_than', 'condition': 'greater_than', 'value': 65},
     {'column': 'systolic_bp', 'operator': 'greater_than', 'condition': 'greater_than', 'value': 140},
]

both_conditions = filter_data(df, filters)
print(f"Patients over 65 AND high BP: {len(both_conditions)}")

Patients over 65 AND high BP: 464

In [9]:
from q3_data_utils import filter_data
# TODO: Filter by site using .isin()
# 1. Use the filter_data utility from Q3
# 2. Create a filter for Site A or Site B
# 3. Apply the filter and count the results
# print(f"Patients from Site A or B: {len(site_ab)}")

filters = [
    {'column': 'site', 'operator': 'in_range', 'condition': 'in_list', 'value': ['Site A', 'Site B']}
]

site_ab = filter_data(df, filters)

print(f"Patients from Site A or B: {len(site_ab)}")

site_ab.head()

Patients from Site A or B: 1397

,patient_id,age,sex,bmi,enrollment_date,systolic_bp,diastolic_bp,cholesterol_total,cholesterol_hdl,cholesterol_ldl,glucose_fasting,site,intervention_group,follow_up_months,adverse_events,outcome_cvd,adherence_pct,dropout
1,P00002,80,Female,NaN,2022-01-06,139.0,81.0,206.0,58.0,107.0,79.0,Site A,CONTROL,24,0,No,77.0,No
5,P00006,78,F,26.8,2023-08-29,116.0,66.0,164.0,54.0,99.0,99.0,Site A,TreatmentA,4,0,yes,NaN,Yes
10,P00011,79,Female,23.5,2023-06-12,110.0,70.0,216.0,81.0,92.0,85.0,Site A,control,7,0,no,39.0,No
18,P00019,100,M,24.6,2022-01-17,115.0,64.0,164.0,46.0,85.0,87.0,Site A,control,24,0,No,66.0,No
20,P00021,70,Female,28.9,03/18/2022,131.0,80.0,217.0,55.0,119.0,89.0,Site A,TREATMENT B,22,0,no,72.0,No

## Part 4: Value Counts and Grouping (5 points)

1. Get value counts for the 'site' column
2. Get value counts for the 'intervention_group' column  
3. Create a crosstab of site vs intervention_group
4. Calculate mean age by site
5. Save the site value counts to `output/q4_site_counts.csv`

In [10]:
# TODO: Value counts and analysis
site_counts = df['site'].value_counts()
print("Value counts for site:")
print(site_counts)

intervention_counts = df['intervention_group'].value_counts()
print("\nValue counts for intervention group:")
print(intervention_counts)

crosstab = pd.crosstab(df['site'], df['intervention_group'])
print("\nCrosstab of site vs intervention group:")
print(crosstab)

mean_age_by_site = df.groupby('site')['age'].mean()
print("\nMean age by site:")
print(mean_age_by_site)

Value counts for site:
site
site b         742
Site B         736
SITE B         703
SITE A         684
Site  A        681
Site A         661
Site C         658
site a         651
site c         615
SITE C         605
Site D         362
site d         349
Site_D         332
Site E         319
SITE D         313
SITE E         295
site e         294
  SITE B        94
  site b        90
  Site B        88
  Site C        83
  site a        74
  SITE A        74
  Site  A       67
  Site A        64
  site c        57
  SITE C        55
  Site E        42
  SITE D        41
  site d        41
  site e        36
  Site D        32
  SITE E        31
  Site_D        31
Name: count, dtype: int64

Value counts for intervention group:
intervention_group
Contrl              802
TREATMENT B         761
Treatment  B        760
Control             751
treatment b         750
control             734
Treatment B         730
CONTROL             715
TreatmentA          635
Treatment A         610
Treatmen A          592
treatment a         588
TREATMENT A         572
  Treatment B       104
  Control            95
  treatment b        90
  CONTROL            84
  control            83
  TREATMENT B        83
  Contrl             73
  treatment a        67
  TreatmentA         66
  Treatment A        66
  TREATMENT A        65
  Treatment  B       64
  Treatmen A         60
Name: count, dtype: int64

Crosstab of site vs intervention group:
intervention_group    CONTROL      Contrl      Control      TREATMENT A    \
site
  SITE A                      0           0            0                0
  SITE B                      0           0            1                0
  SITE C                      0           0            0                1
  SITE D                      0           0            0                0
  SITE E                      0           0            0                0
  Site  A                     1           0            1                0
  Site A                      1           0            0                0
  Site B                      3           2            0                0
  Site C                      0           0            1                0
  Site D                      0           0            0                0
  Site E                      0           0            1                0
  Site_D                      0           0            0                1
  site a                      0           2            0                1
  site b                      1           1            0                0
  site c                      0           0            0                2
  site d                      0           1            0                0
  site e                      0           0            1                1
SITE A                        3           2            6                2
SITE B                        6           4           10                4
SITE C                        4           2            9                8
SITE D                        6           2            0                2
SITE E                        1           1            4                4
Site  A                       3           9            3                1
Site A                        9           7            3                6
Site B                        5          11           11                7
Site C                        6           6            4                5
Site D                        3           2            5                1
Site E                        5           4            6                3
Site_D                        2           3            1                2
site a                        7           5            5                3
site b                        6           2            8                5
site c                        6           4            8                4
site d                        4           2            6                1
site e                        2           1            1                1

intervention_group    TREATMENT B      Treatmen A      Treatment  B    \
site
  SITE A                          1               0                 0
  SITE B                          1               1                 2
  SITE C                          0               0                 0
  SITE D                          1               0                 0
  SITE E                          0               0                 0
  Site  A                         0               0                 1
  Site A                          0               1                 0
  Site B                          1               0                 0
  Site C                          1               0                 0
  Site D                          0               0                 0
  Site E                          1               0                 0
  Site_D                          0               0                 0
  site a                          0               0                 1
  site b                          0               1                 0
  site c                          0               0                 1
  site d                          1               0                 0
  site e                          0               1                 1
SITE A                            6               3                 4
SITE B                            7               2                 3
SITE C                            4               1                 5
SITE D                            2               3                 4
SITE E                            1               1                 1
Site  A                          11               6                 5
Site A                            4               5                 3
Site B                            6               3                 8
Site C                            4               6                 2
Site D                            1               0                 2
Site E                            5               2                 3
Site_D                            0               2                 1
site a                            5               5                 6
site b                            8               6                 4
site c                            4               0                 4
site d                            3               8                 2
site e                            5               3                 1

intervention_group    Treatment A      Treatment B      TreatmentA    ...  \
site                                                                  ...
  SITE A                          1                0               0  ...
  SITE B                          1                2               1  ...
  SITE C                          0                1               1  ...
  SITE D                          0                0               0  ...
  SITE E                          1                2               0  ...
  Site  A                         1                1               0  ...
  Site A                          1                1               0  ...
  Site B                          0                0               2  ...
  Site C                          0                1               0  ...
  Site D                          1                1               0  ...
  Site E                          1                0               0  ...
  Site_D                          0                1               0  ...
  site a                          0                1               0  ...
  site b                          0                0               1  ...
  site c                          0                0               0  ...
  site d                          0                0               1  ...
  site e                          0                0               1  ...
SITE A                            3                3               4  ...
SITE B                            7                4               6  ...
SITE C                            3                6               0  ...
SITE D                            0                2               4  ...
SITE E                            0                4               5  ...
Site  A                           0                6               5  ...
Site A                            6                6               4  ...
Site B                            6                5               4  ...
Site C                            5                8               5  ...
Site D                            4                4               1  ...
Site E                            4                5               0  ...
Site_D                            3                2               1  ...
site a                            5               15               3  ...
site b                            4               11               6  ...
site c                            4                7               5  ...
site d                            1                1               6  ...
site e                            4                4               0  ...

intervention_group  TREATMENT A  TREATMENT B  Treatmen A  Treatment  B  \
site
  SITE A                      4            7           2             6
  SITE B                      1            5           2             8
  SITE C                      2            3           5             4
  SITE D                      2            3           2             7
  SITE E                      3            1           2             3
  Site  A                     5            7           2             4
  Site A                      3           10           6             7
  Site B                      5            9           7            11
  Site C                      4            8           6             7
  Site D                      1            3           2             6
  Site E                      3            1           4             4
  Site_D                      2            2           2             2
  site a                     12            5           7             5
  site b                      8            2           4             4
  site c                      0            4           2             4
  site d                      2            4           4             3
  site e                      1            3           2             1
SITE A                       32           40          42            49
SITE B                       43           45          39            48
SITE C                       33           48          45            51
SITE D                       20           18          28            31
SITE E                       16           26          18            21
Site  A                      43           53          34            44
Site A                       37           46          39            49
Site B                       41           64          46            51
Site C                       43           56          41            38
Site D                       20           21          18            33
Site E                       25           31          19            28
Site_D                       17           15          18            22
site a                       38           61          32            46
site b                       43           56          40            67
site c                       26           58          39            51
site d                       20           23          18            26
site e                       17           23          15            19

intervention_group  Treatment A  Treatment B  TreatmentA  control  \
site
  SITE A                      7            7           6        7
  SITE B                      2           12           6        7
  SITE C                      4            5           3        5
  SITE D                      1            3           4        3
  SITE E                      1            3           4        0
  Site  A                     7            3           7        4
  Site A                      0            1           2        2
  Site B                      3            7           6        5
  Site C                      4            5           6       11
  Site D                      1            2           1        1
  Site E                      1            0           0        4
  Site_D                      1            3           3        0
  site a                      3            3           3        7
  site b                      8            8           4        6
  site c                      2            6           4        3
  site d                      0            4           2        3
  site e                      1            2           3        4
SITE A                       28           57          45       63
SITE B                       54           59          59       58
SITE C                       42           40          38       47
SITE D                       16           27          17       26
SITE E                       18           20          16       25
Site  A                      40           41          40       49
Site A                       45           43          39       49
Site B                       39           54          42       49
Site C                       43           38          35       54
Site D                       12           38          33       24
Site E                       19           18          15       27
Site_D                       32           28          20       35
site a                       34           44          48       43
site b                       53           61          48       44
site c                       38           43          43       33
site d                       29           21          24       19
site e                       22           24           9       17

intervention_group  treatment a  treatment b
site
  SITE A                      4            7
  SITE B                      4           12
  SITE C                      7            5
  SITE D                      4            3
  SITE E                      1            0
  Site  A                     3            4
  Site A                      5            5
  Site B                      4            6
  Site C                      7            5
  Site D                      5            1
  Site E                      2            2
  Site_D                      2            1
  site a                      2            3
  site b                      3           11
  site c                      2            7
  site d                      3            3
  site e                      1            5
SITE A                       55           53
SITE B                       36           57
SITE C                       25           42
SITE D                       20           23
SITE E                       24           21
Site  A                      39           52
Site A                       35           48
Site B                       49           57
Site C                       37           50
Site D                       22           32
Site E                       16           31
Site_D                       22           19
site a                       46           50
site b                       45           41
site c                       23           46
site d                       21           23
site e                       14           25

[34 rows x 26 columns]

Mean age by site:
site
  SITE A       23.608108
  SITE B       59.670213
  SITE C       60.254545
  SITE D       77.853659
  SITE E       12.258065
  Site  A      80.328358
  Site A       49.843750
  Site B       56.318182
  Site C       27.831325
  Site D      -25.312500
  Site E       75.500000
  Site_D        9.870968
  site a       67.270270
  site b       57.022222
  site c       80.929825
  site d       81.000000
  site e       83.194444
SITE A         60.910819
SITE B         63.628734
SITE C         55.459504
SITE D         55.511182
SITE E         51.867797
Site  A        53.770925
Site A         61.440242
Site B         56.911685
Site C         60.890578
Site D         67.472376
Site E         56.429467
Site_D         77.993976
site a         49.803379
site b         68.405660
site c         56.832520
site d         61.882521
site e         61.860544
Name: age, dtype: float64

In [11]:
# TODO: Save output
# site_counts.to_csv('output/q4_site_counts.csv')
import os
os.makedirs('output', exist_ok=True)
site_counts.to_csv('output/q4_site_counts.csv')
print("\n Saved site value counts to 'output/q4_site_counts.csv'")

 Saved site value counts to 'output/q4_site_counts.csv'

## Summary

Write 2-3 sentences about what you learned from exploring this dataset.

**Your summary here:**

TODO: Write your observations

By exploring the clinical trial dataset, I identified that most participants were enrolled from Site A and Site B. The numeric analysis showed variation in age, BMI, and blood pressure, with some missing values in BMI and adherence percentages. Categorical analysis revealed a balanced distribution between control and treatment groups, providing insight into the dataset’s overall structure and quality.